{% extends 'pokemon/main.html' %}

{% block content %}
	<div class="container">
		<img class="img-fluid" src="{{pokemon_data.sprites.front_default}}">
		{{pokemon_data.name}} <br>
		Id: {{pokemon_data.id}} <br>
		Types: {% for type in pokemon_data.types %}{{type.type.name}} {% endfor %} <br>
		Height: {{pokemon_data.height}} <br>
		Weight: {{pokemon_data.weight}} <br>
		Stats: {% for stat in pokemon_data.stats %}{{stat.base_stat}}: {{stat.stat.name}} <br> {% endfor %}
		Abilities: {% for ability in pokemon_data.abilities %} {{ability.ability.name}}, {% endfor %}  <br>
	</div>
	{% for pokemon in evolution_chain %}
		<a href="{% url 'pokemon_detail' pokemon.id %}"> {{pokemon.name}} </a>
		<img class="img-fluid" src="{{pokemon.sprites.front_default}}">
		<br>
	{% endfor %}
{% endblock content %}