{% extends 'pokemon/main.html' %}
{% load static %}

{% block content %}
	<div class="container">
		<div class="fav-header">
			<h1 class="pokemon-header">Your Favorite Pokemons!</h1>
		</div>
		<div class="row pokemon-list" >
			{% for pokemon in pokemon_data %}
				<div class="col-lg-5 pokemon-info shadow">
					<div>
						<h2 class="pokemon-header">{{pokemon.id}}. {{pokemon.name}}</h2>

						<h4 class="pokemon-type">
						{% for type in pokemon.types %}
							<span class="shadow {{type.type.name}}"> {{type.type.name}}</span>
						{% endfor %}
					</div>

					<div class="button-space">
						<a class="btn btn-outline-warning" href="{% url 'pokemon_detail' pokemon.id %}"> More Details </a> <br>
						{% if pokemon.is_favorite_pokemon %}
							<form action="{% url 'unfavorite_pokemon' pokemon.id %}" method="post">
								{% csrf_token %}
								<button type="submit" class="btn btn-outline-danger" > unfavorite </button> <br>
							</form>
						{% else %}
							<form action="{% url 'favorite_pokemon' pokemon.id %}" method="post">
								{% csrf_token %}
								<button type="submit" class="btn btn-outline-danger" > unfavorite </button>
							</form>
						{% endif %}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock content %}