{% extends 'pokemon/main.html' %}

{% block content %}
	<div class="row" style="margin: 0; padding: 0;">
		{% for pokemon in pokemon_data %}
			<div class="col-lg-6 mt-4 mb-4">
				<div class="box-element">
					<h3>Pokemon name: {{pokemon.name}}</h3>
					<h4>Pokemon id: {{pokemon.id}} </h4>
					<h4>Pokemon types:
					{% for type in pokemon.types %}
						{{type}}
					{% endfor %}
				</div>
				<a class="btn btn-outline-success" href="{% url 'pokemon_detail' pokemon.id %}"> More Details </a> <br>
				<form action="{% url 'manage_favorites' pokemon.id %}" method="post">
					{% csrf_token %}
					<button type="submit" class="btn btn-outline-warning"> Favorite </button> <br>
				</form>
			</div>
		{% endfor %}
	</div>

	<nav aria-label="Page navigation example">
		<ul class="pagination justify-content-center mt-4">
			<li class="page-item disabled">
				<a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
			</li>
			<li class="page-item"><a class="page-link" href="#">1</a></li>
			<li class="page-item"><a class="page-link" href="#">2</a></li>
			<li class="page-item"><a class="page-link" href="#">3</a></li>
			<li class="page-item">
				<a class="page-link" href="#">Next</a>
			</li>
		</ul>
	</nav>
{% endblock content %}