{% extends 'pokemon/main.html' %}
{% load static %}

{% block content %}
	<div class="container">
	<h1 class="pokemon-header main-header"> Pokemon </h1>
		<div class="row pokemon-list">
			{% for pokemon in pokemon_data %}
				<div class="col-lg-5  pokemon-info">
					<div>

						<h2 class="pokemon-header">{{pokemon.id}}. {{pokemon.name}} </h2>

						<h4 class="pokemon-type">
							{% for type in pokemon.types %}
								<span class="{{type.type.name}}"> {{type.type.name}} </span>
							{% endfor %}
						</h4>
					</div>
					<div class="row">
						<a class="col-3 btn btn-outline-success" href="{% url 'pokemon_detail' pokemon.id %}"> More Details </a> <br>
						<form class="col-3" action="{% url 'favorite_pokemon' pokemon.id %}" method="post">
							{% csrf_token %}
							<button type="submit" class="btn btn-outline-warning"> Favorite </button> <br>
						</form>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

	<nav aria-label="Page navigation example">
		<ul class="pagination justify-content-center mt-4">
			<li class="page-item {% if previous_page is None %}disabled{% endif %}">
				<a class="page-link" href="{% url 'main_page' %}?page={{previous_page}}" >Previous</a>
			</li>
			<li class="page-item"><a class="page-link" href="#">{{current_page}}</a></li>
			<li class="page-item">
				<a class="page-link" {% if next_page is None %}aria-disabled="true"{% endif %} href="{% url 'main_page' %}?page={{next_page}}">Next</a>
			</li>
		</ul>
	</nav>
{% endblock content %}