{% extends 'pokemon/main.html' %}

{% block content %}
	<div class="row" style="margin: 0; padding: 0;">
		{% for pokemon in pokemon_data %}
			<div class="col-lg-6 mt-4 mb-4">
				<div class="box-element">
					<h3>Pokemon name: {{pokemon.name}}</h3>
					<h4>Pokemon id: {{pokemon.id}} </h4>
					<h4>Pokemon types:
					{% for type in pokemon.types %}
						{{type}}
					{% endfor %}
				</div>
				<a class="btn btn-outline-success" href="{% url 'pokemon_detail' pokemon.id %}"> More Details </a> <br>
				<form action="{% url 'favorite_pokemon' pokemon.id %}" method="post">
					{% csrf_token %}
					<button type="submit" class="btn btn-outline-warning"> Favorite </button> <br>
				</form>
			</div>
		{% endfor %}
	</div>

	<nav aria-label="Page navigation example">
		<ul class="pagination justify-content-center mt-4">
			<li class="page-item {% if previous_page is None %}disabled{% endif %}">
				<a class="page-link" href="{% url 'main_page' %}?page={{previous_page}}" >Previous</a>
			</li>
			<li class="page-item"><a class="page-link" href="#">{{current_page}}</a></li>
			<li class="page-item">
				<a class="page-link" {% if next_page is None %}aria-disabled="true"{% endif %} href="{% url 'main_page' %}?page={{next_page}}">Next</a>
			</li>
		</ul>
	</nav>
{% endblock content %}